---
#------------------------------------------------------------------------------
# Database connection (dsn for mysql or filepath for sqlite3)
#------------------------------------------------------------------------------
# MySQL
# dsn: "user:pass@tcp(127.0.0.1:3306)/dbname?parseTime=true"
#
# sqlite3
# dsn: "/tmp/denssweb.db?_busy_timeout=5000&cache=shared"

#------------------------------------------------------------------------------
# Database driver (mysql|sqlite3)
#------------------------------------------------------------------------------
# driver: "sqlite3"

#------------------------------------------------------------------------------
# Webserver port to lisen on
#------------------------------------------------------------------------------
# port: 8080

#------------------------------------------------------------------------------
# Webserver interface to lisen on
#------------------------------------------------------------------------------
# bind: "127.0.0.1"

#------------------------------------------------------------------------------
# SSL certificate 
#------------------------------------------------------------------------------
# cert: "/path/to/cert"

#------------------------------------------------------------------------------
# SSL private key 
#-------------------------------------------------------------------
# key: "/path/to/key"

#------------------------------------------------------------------------------
# Templates directory
#------------------------------------------------------------------------------
# templates: "/usr/share/denssweb/templates"

#------------------------------------------------------------------------------
# Base URL for web links
#------------------------------------------------------------------------------
# base_url:  "http://localhost:8080"

#------------------------------------------------------------------------------
# Show list of all jobs
#------------------------------------------------------------------------------
# show_job_list: true

#------------------------------------------------------------------------------
# Enable CAPTCHA
#------------------------------------------------------------------------------
# enable_captcha: false

#------------------------------------------------------------------------------
# Working directory for job worker
#------------------------------------------------------------------------------
# work_dir:  "/tmp/denssweb-work"

#------------------------------------------------------------------------------
# Path to denss.py
#------------------------------------------------------------------------------
# denss_path:  "/usr/local/bin/denss.py"

#------------------------------------------------------------------------------
# Path to Situs map2map
#------------------------------------------------------------------------------
# map2map_path:  "/usr/local/bin/map2map"

#------------------------------------------------------------------------------
# Path to EMAN2DIR
#------------------------------------------------------------------------------
# eman2dir:  "/usr/local/EMAN2"

#------------------------------------------------------------------------------
# Path to denssweb-fsc-chart.py
#------------------------------------------------------------------------------
# fsc_path:  "/usr/local/bin/denssweb-fsc-chart.py"

#------------------------------------------------------------------------------
# Path to denssweb-summary-chart.py
#------------------------------------------------------------------------------
# summary_path:  "/usr/local/bin/denssweb-summary-chart.py"

#------------------------------------------------------------------------------
# Maxiumum number of seconds a command can run
#------------------------------------------------------------------------------
# max_seconds: 3600

#------------------------------------------------------------------------------
# Enable sending notification email after job completes
#------------------------------------------------------------------------------
# enable_notifications: false

#------------------------------------------------------------------------------
# From address used when notification emails
#------------------------------------------------------------------------------
# email_from: "denss@example.edu"

#------------------------------------------------------------------------------
# SMTP server
#------------------------------------------------------------------------------
# smtp_host: "localhost"

#------------------------------------------------------------------------------
# SMTP port
#------------------------------------------------------------------------------
# smtp_port: 25
...
