---
#------------------------------------------------------------------------------
# Database connection
#------------------------------------------------------------------------------
dsn: "user:pass@/dbname?parseTime=true"

#------------------------------------------------------------------------------
# Database driver
#------------------------------------------------------------------------------
driver: "mysql"

#------------------------------------------------------------------------------
# Webserver port to lisen on
#------------------------------------------------------------------------------
port: 8080

#------------------------------------------------------------------------------
# Webserver interface to lisen on
#------------------------------------------------------------------------------
bind: "127.0.0.1"

#------------------------------------------------------------------------------
# SSL certificate 
#------------------------------------------------------------------------------
# cert: "/path/to/cert"

#------------------------------------------------------------------------------
# SSL private key 
#-------------------------------------------------------------------
# key: "/path/to/key"

#------------------------------------------------------------------------------
# Templates directory
#------------------------------------------------------------------------------
templates: "/usr/share/denssweb/templates"

#------------------------------------------------------------------------------
# Base URL for web links
#------------------------------------------------------------------------------
base_url:  "http://localhost:8080"

#------------------------------------------------------------------------------
# Working directory for job worker
#------------------------------------------------------------------------------
work_dir:  "/tmp"

#------------------------------------------------------------------------------
# Path to denss.py
#------------------------------------------------------------------------------
denss_path:  "/usr/local/bin/denss.py"
...
