{{define "content"}}
<div class="page-header">
    <h1>
    {{ if .job.Name }}
       {{ .job.Name }}
    {{ else }}
        DENSS Job {{ .job.ID }}
    {{ end }}
    </h1>
    <a href="{{ .job.URL }}">{{ .job.URL }}</a>
</div>

{{ if eq .job.Status "Complete" }}
    <script src="/static/js/LiteMol-plugin.js?lmversion=14"></script>
    <div class="alert alert-success" role="alert">
        <strong>Completed in {{ .job.RunTime }}</strong> Your job completed on {{ .job.Completed.Local.Format "2006/01/02 15:04:05 EST" }}
        &nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="{{ .job.URL }}/denss-{{ .job.ID }}-output.zip">Download Results</a>
    </div>
    <div class="page-header">Electron Density Map</div>
    <div class="row">
        <input type="hidden" value="DENSS_{{ .job.ID }}" id="jobid" />
        <input type="hidden" value="{{ .job.URL }}/density-map.ccp4" id="ccp4url" />
        <div id="app"></div>
        <script src="/static/js/LiteMol-denss.js?lmversion=14"></script>
    </div>
    <div class="page-header">DENSS Summary Statistics</div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="{{ .job.URL }}/fsc.png" class="thumbnail">
            <img src="{{ .job.URL }}/fsc.png" alt="FSC">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a href="{{ .job.URL }}/summary.png" class="thumbnail">
            <img src="{{ .job.URL }}/summary.png" alt="Summary Stats">
            </a>
        </div>
    </div>
{{ else if or (eq .job.Status "Running") ( eq .job.Status "Pending") }}
    {{ if eq .job.Status "Running" }}
    <div class="alert alert-warning" role="alert">
        <strong><span id="status">Running</span> <span id="time">{{ .job.RunTime }}</span></strong> Your job started on {{ .job.Started.Local.Format "2006/01/02 15:04:05 EST" }}
    </div>
    {{ else }}
    <div class="alert alert-info" role="alert">
        <strong><span id="status">Pending</span> <span id="time">{{ .job.WaitTime }}</span></strong> Your job was submitted on {{ .job.Submitted.Local.Format "2006/01/02 15:04:05 EST" }}
    </div>
    {{ end }}    
    <div id="job-status">
         <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span id="pct">0% Complete</span>
            </div>
         </div>
        <p id="task" class="lead">...</p>
        <pre id="log"></pre>
    </div>
    <script>

// XXX Perhaps we should use websockets here?
function updateJobStatus() {
	$.getJSON('{{ .job.URL }}/status', function(data) {
		// update UI
		percent = parseInt(data['percent_complete']);
        $('.progress-bar').css('width', percent+'%').attr('aria-valuenow', percent);
		$('#pct').text(percent + '% Complete');
		$('#task').text(data['task']);
        $('#time').text(data['time']);
        $('#log').text(data['log_message']);
		if (data["status"] == $('#status').text()) {
			setTimeout(function() {
				updateJobStatus();
			}, 2000);
		} else {
            // If we change status just refresh the page
			location.reload();
		}
	});
}

$(function() {
	updateJobStatus();
});
    </script>
{{ else if eq .job.Status "Error" }}
    <div class="alert alert-danger" role="alert">
        <strong>Failed</strong> Your job failed on {{ .job.Completed.Local.Format "2006/01/02 15:04:05 EST" }}
        &nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="{{ .job.URL }}/denss-{{ .job.ID }}-output.zip">Download Results</a>
    </div>
    <p id="task" class="lead">{{ .job.Task }}</p>
    <pre id="log">{{ .job.LogMessage }}</pre>
{{ else }}
    <div class="alert alert-danger" role="alert">
        No Job data found
    </div>
{{end}}
{{end}}
