{{define "content"}}
<div class="page-header">
    <h1>
    {{ if .job.Name }}
       {{ .job.Name }}
    {{ else }}
        DENSS Job {{ .job.ID }}
    {{ end }}
    </h1>
</div>

<p>
    URL: <a href="{{ .url }}">{{ .url }}</a>
</p>

{{ if eq .job.Status "Complete" }}
    <div class="alert alert-success" role="alert">
        <strong>Complete</strong> Your job was completed at {{ .job.Completed.Local.Format "15:04:05 EST on Jan 02, 2006" }}
    </div>
    <input type="hidden" value="6lyz_averaged" id="jobid" />
    <div id="app"></div>
    <script src="/static/js/LiteMol-denss.js?lmversion=11"></script>
{{ else if eq .job.Status "Running" }}
    <div class="alert alert-primary" role="alert">
        <strong>Running</strong> Your job was started at {{ .job.Started.Local.Format "15:04:05 EST on Jan 02, 2006" }}
    </div>
{{ else if eq .job.Status "Error" }}
    <div class="alert alert-danger" role="alert">
        <strong>Failed</strong> Your job failed at {{ .job.Completed.Local.Format "15:04:05 EST on Jan 02, 2006" }}
    </div>
{{ else }}
    <div class="alert alert-info" role="alert">
        <strong>Pending</strong> Your job was submitted at {{ .job.Submitted.Local.Format "15:04:05 EST on Jan 02, 2006" }}
    </div>
{{end}}
{{end}}
