{{define "content"}}

<div class="page-header">
    <h1>Submit DENSS Job</h1>
</div>

{{ with .message }}
{{$messages := Split . ";"}}
{{range $m := $messages}}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ $m }}
</div>
{{ end }}
{{ end }}

<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label  class="col-sm-3 control-label">Upload Data File</label>
    <div class="col-sm-6">
        <input type="file" name="inputFile" id="inputFile">
        <p class="help-block">Must be 3-column ascii text file (DAT*) or GNOM (.out) file. Click here to download sample data: <a href="https://raw.githubusercontent.com/tdgrant1/denss/master/6lyz.dat">6lyz.dat</a> or <a href="https://raw.githubusercontent.com/tdgrant1/denss/master/6lyz.out">6lyz.out</a>. See <a href="/tutorial">Tutorial page</a> for information on Input files and types.</p>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Job Name</label>
    <div class="col-sm-6">
      <input name="name" class="form-control" size="20" type="text">
      <p class="help-block">Must be alphanumeric and less than 255 characters</p>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Estimated maximum dimension</label>
    <div class="col-sm-2">
      <input name="dmax" class="form-control" size="4" type="text">
      <p class="help-block">This is optional and not required</p>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Angular units: </label>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="units" value="a" checked="checked"> angstrom
      </label>
    </div>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="units" value="nm"> nanometer
      </label>
    </div>
  </div>
{{ if .emailEnabled }}
  <div class="form-group">
    <label  class="col-sm-3 control-label">Email</label>
    <div class="col-sm-6">
      <input name="email" class="form-control" size="20" type="text">
      <p class="help-block">Email address to send job notifications</p>
    </div>
  </div>
{{ end }}
  <div class="form-group">
    <label  class="col-sm-3 control-label">Mode: </label>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="mode" value="fast"> Fast
      </label>
    </div>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="mode" value="slow" checked="checked"> Slow
      </label>
    </div>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="mode" value="membrane"> Membrane
      </label>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Symmetry (N-Fold)</label>
    <div class="col-sm-4">
      <input name="ncs" class="form-control" size="4" type="text" placeholder="">
      <p class="help-block">Rotational symmetry</p>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Symmetry Axis: </label>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="ncs_axis" value="1" checked="checked"> Largest
      </label>
    </div>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="ncs_axis" value="2"> Middle
      </label>
    </div>
    <div class="col-sm-1 radio">
      <label>
        <input type="radio" name="ncs_axis" value="3"> Smallest
      </label>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Symmetry Steps</label>
    <div class="col-sm-4">
      <input name="ncs_steps" class="form-control" size="20" type="text" placeholder="3000 5000 7000 9000">
      <p class="help-block">Space separated list</p>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-3 control-label">Enantiomer Selection: </label>
    <div class="col-sm-1 checkbox">
      <label>
        <input type="checkbox" name="enantiomer" checked="checked" value="1"> 
      </label>
    </div>
  </div>
{{ with .captchaID }}
  <div class="form-group">
    <label class="col-sm-2 control-label">&nbsp;</label>
    <div class="col-sm-6">
        <span class="help-block"><em>Type the numbers you see in the picture below:</em> <a href="#" onclick="reloadCaptcha()">Reload</a></span>
        <input name="captcha_sol" class="form-control" size="10" type="text">
        <input name="captcha_id" type="hidden" value="{{ . }}">
        <p><img id="captcha" src="/captcha/{{ . }}.png" alt="Captcha image"></p>
    </div>
  </div>
{{ end }}
  <div class="form-group">
    <div class="col-sm-offset-4 col-xs-3">
      <button id="search-btn" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{{ with .captchaID }}
<script>
function setSrcQuery(e, q) {
	var src  = e.src;
	var p = src.indexOf('?');
	if (p >= 0) {
		src = src.substr(0, p);
	}
	e.src = src + "?" + q
}
function reloadCaptcha() {
	setSrcQuery(document.getElementById('captcha'), "reload=" + (new Date()).getTime());
	return false;
}
</script>
{{ end }}

{{end}}
